.advantage-card {
  position: relative;
  padding: 40px;
  border-radius: 8px;
  background-color: var(--color-primary);
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    height: 100%;
    width: 1px;
    background-color: rgba(var(--color-white--rgb), 0.1);
  }

  &--h-xl {
    min-height: 500px;
  }

  &__content {
    position: relative;
    z-index: 2;

    &--sm {
      max-width: 280px;
    }
  }

  &__text {
    margin-top: 20px;

    &--mt-xs {
      margin-top: 12px;
    }
  }

  &__btn {
    margin-top: 40px;
  }

  &__bg-img {
    position: absolute;
    bottom: 0;
    right: 0;

    &--index {
      bottom: -33px;
      right: -95px;
      max-width: none;
    }

    &--design {
      max-width: none;
    }

    &--glued {
      bottom: -123px;
      right: -151px;
      max-width: none;
    }

    &--bathhouse {
      right: -30px;
    }

    &--profiled {
      max-width: none;
    }
  }

  @media (max-width: 1200px) {
    padding: 32px;

    &--h-xl {
      min-height: 480px;
    }
  }

  @media (max-width: 991px) {
    &--h-xl {
      min-height: 360px;
    }
  }

  @media (max-width: 767px) {
    padding: 20px;

    &__bg-img {
      &--index {
        bottom: 0px;
        right: 0px;
        max-width: 400px;
        width: 100%;
      }

      &--design {
        max-width: 100%;
      }

      &--glued {
        bottom: 0;
        right: 0;
        max-width: 100%;
      }

      &--profiled {
        bottom: -15px;
        max-width: 380px;
      }

      &--bathhouse {
        bottom: -30px;
        right: 0;
      }

      &--painting {
        right: 15px;
        max-width: 172px;
      }

      &--assembly {
        max-width: 183px;
      }
    }
  }
}
