.article-simple {
  &__img-box {
    position: relative;
    padding-top: min(100%, 343px);
    width: 100%;
    display: block;

    &--h-xl {
      padding-top: min(100%, 359px);
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin-top: 20px;
  }

  @media (max-width: 767px) {
    &__title {
      font-size: 18px;
    }
  }
}
