.article-card {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--color-primary-200);
  border-radius: 8px;

  &__text {
    margin-top: 12px;
  }

  &__footer {
    margin-top: auto;
    padding-top: 20px;
    width: 100%;
  }

  &__img-box {
    position: relative;
    padding-top: min(100%, 335px);
    width: 100%;
    display: block;
    border-radius: 8px;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 767px) {
    &__img-box {
      padding-top: 335px;
    }
  }
}
