.author-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--color-primary-200);
  border-radius: 4px;

  &__img-box {
    margin-bottom: 32px;
    width: 100%;
    height: 232px;
    border-radius: 4px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    flex: auto;
    display: flex;
    flex-direction: column;
  }

  &__details {
    margin-top: 20px;
  }

  &__detail {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  &__detail-label {
    width: 124px;
    flex: none;
  }

  @media (max-width: 767px) {
    &__details {
      margin-top: 12px;
    }
  }
}
