.banner-card {
  position: relative;
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--color-primary);
  overflow: hidden;

  &--h-xl {
    min-height: 500px;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.7;
  }

  &__content {
    position: relative;
    z-index: 2;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--xl {
      max-width: 670px;
    }
  }

  &__text {
    margin-top: 20px;
  }

  &__btn {
    margin-top: 40px;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1200px) {
    padding: 32px;

    &--h-xl {
      min-height: 480px;
    }
  }

  @media (max-width: 767px) {
    padding: 20px;

    &__footer {
      margin-top: auto;
      width: 100%;
    }

    &__btn {
      padding-left: 32px;
      padding-right: 32px;
      width: 100%;
    }
  }
}
