.breadcrumb {
  position: relative;
  z-index: 3;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px 5px;
  }

  &__item {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      position: relative;

      &:after {
        margin-left: 5px;
        content: "/";
        font-size: 14px;
      }
    }
  }

  &__link,
  &__current {
    flex: 0 0 auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-word;
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }
}
