.btn-link {
  padding: 12px 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.28;
  border-radius: 4px;
  transition:
    color 0.35s,
    background 0.35s;

  &:hover {
    background-color: var(--color-primary-100);
  }

  &:active {
    background-color: var(--color-primary-500);
    color: var(--color-white);
  }

  &:disabled {
    background-color: transparent;
    color: var(--color-primary-200);
    cursor: default;
  }
}
