.callback-card {
  padding: 40px;
  background-color: var(--color-primary);
  border-radius: 8px;

  &__form {
    &:not(:first-child) {
      margin-top: 38px;
    }
  }

  &__input {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__submit {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  @media (max-width: 1200px) {
    padding: 32px;
  }

  @media (max-width: 991px) {
    &__form {
      &:not(:first-child) {
        margin-top: 32px;
      }
    }

    &__input {
      &:not(:first-child) {
        margin-top: 16px;
      }
    }

    &__submit {
      &:not(:first-child) {
        margin-top: 16px;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 20px;

    &__form {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    &__input {
      &:not(:first-child) {
        margin-top: 8px;
      }
    }

    &__submit {
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }
}
