.contacts {
  display: flex;
  align-items: flex-start;
  gap: 32px;

  &__left {
    flex: 0 0 360px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__item {
    max-width: 280px;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__social-btns {
    margin-top: 20px;
  }

  &__right {
    flex: auto;
    display: flex;
    gap: 32px;
  }

  &__images {
    flex: 0 0 260px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__img-box {
    position: relative;
    flex: 1 1 0%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__map {
    flex: auto;
    height: 320px;
    border-radius: 8px;
    overflow: hidden;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 1200px) {
    gap: 20px;
    flex-direction: column;

    &__left {
      flex: none;
    }

    &__right {
      gap: 20px;
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    &__title {
      margin-bottom: 12px;
      font-size: 26px;
    }

    &__right {
      flex-direction: column;
    }

    &__images {
      flex: none;
      flex-direction: row;
    }

    &__img-box {
      padding-top: 28.5%;
      flex: none;
      width: calc(50% - 10px);
    }
  }

  @media (max-width: 480px) {
    &__images {
      gap: 12px;
      flex-direction: column;
    }

    &__img-box {
      padding-top: 57.15%;
      width: 100%;
    }

    &__map {
      height: 240px;
    }
  }
}
