.credit-section {
  &__btns {
    margin-bottom: 20px;
  }

  &__main {
    display: flex;
    gap: 32px;
  }

  &__info {
    flex: auto;
  }

  &__callback {
    flex: 0 0 360px;
  }

  @media (max-width: 1200px) {
    &__main {
      gap: 20px;
    }
  }

  @media (max-width: 991px) {
    &__main {
      flex-direction: column;
    }

    &__callback {
      flex: none;
    }
  }

  @media (max-width: 767px) {
    &__btns {
      margin-bottom: 32px;
      width: 100%;
    }

    &__main {
      gap: 32px;
    }
  }
}
