.discuss-card {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  background-color: var(--color-primary);

  &--primary-500 {
    background-color: var(--color-primary-500);
  }

  &--h-lg {
    min-height: 409px;
  }

  &__title {
    &--w-sm {
      max-width: 295px;
    }
  }

  &__text {
    margin-top: 12px;

    &--w-sm {
      max-width: 295px;
    }
  }

  &__btn {
    margin-top: 40px;
  }

  @media (max-width: 767px) {
    padding: 32px 16px;
  }
}
