.doc-item {
  &__img-box {
    position: relative;
    padding-top: 146.75%;
    width: 100%;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      border: 1px solid var(--color-primary-200);
      box-sizing: border-box;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    margin-top: 20px;
  }

  @media (max-width: 767px) {
    &__title {
      margin-top: 12px;
    }
  }
}
