.dropdown-menu {
  padding: 20px;
  background-color: var(--color-white);
  border-radius: 8px;
  border: 1px solid var(--color-primary-200);

  &--min-w-sm {
    min-width: 200px;
  }

  &--min-w-lg {
    min-width: 274px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: max-content;
  }

  &__item {
    flex: none;
    white-space: nowrap;
  }
}
