@use "../mixins" as *;

.faq-item {
  padding: 8px 0 7px;
  border-bottom: 1px solid rgba(var(--color-black--rgb), 0.2);

  &__btn {
    padding: 11px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    transition:
      color 0.4s,
      background 0.4s;
  }

  &__btn-icon {
    position: relative;
    margin-top: 2px;
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: var(--color-black);
      border-radius: 2px;
      transition:
        transform 0.35s,
        height 0.35s;
    }

    &:before {
      height: 18px;
      width: 2px;
    }

    &:after {
      width: 2px;
      height: 18px;
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }

  &__btn.accordion__btn--active &__btn-icon {
    &:before {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &:after {
      height: 0;
    }
  }

  &__main {
    padding-bottom: 10px;
  }

  @media (max-width: 767px) {
    padding: 9px 0 8px;

    &__btn-text {
      max-width: 253px;
    }

    &__main {
      max-width: 253px;
    }
  }
}
