.featured-images {
  &__wrapper {
    position: absolute;
    inset: 0;
  }

  &__slide {
    border-radius: 8px;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__pagination {
    margin-top: 32px;
    display: none;
  }

  @media (min-width: 768px) {
    &__main {
      position: relative;
      padding-top: 51.95%;
      overflow: visible;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
      transform: none !important;
    }

    &__slide {
      width: auto !important;

      &:first-child {
        grid-column: 1 / 7;
        grid-row: 1 / 3;
      }

      &:not(:first-child) {
        grid-column: span 3;
      }

      &:nth-child(2) {
        grid-column: 7 / 10;
      }

      &:nth-child(n + 6) {
        display: none;
      }
    }
  }

  @media (min-width: 1201px) {
    &__wrapper {
      gap: 32px;
    }
  }

  @media (max-width: 767px) {
    &__main {
      padding-top: 368px;
    }

    &__pagination {
      display: flex;

      &.swiper-pagination-lock {
        display: none;
      }
    }
  }
}
