.filters {
  padding: 8px;
  display: flex;
  gap: 10px;
  border-radius: 8px;
  background-color: var(--color-grey);

  &__section {
    padding: 9px 20px;
    gap: 10px;
    display: inline-flex;
    flex: none;
    background-color: #fff;
    border-radius: 4px;

    &--flex-auto {
      flex: auto;
    }
  }

  &__checkboxes {
    gap: 10px 20px;
    display: inline-flex;
    align-items: center;
    flex: auto;

    &--gap-xl {
      gap: 4px 32px;
    }

    &--justify-between {
      justify-content: space-between;
    }
  }

  &__menu {
    flex: 0 0 auto;

    &--w-lg {
      min-width: 201px;
    }

    &--flex-auto {
      flex: auto;
    }
  }

  @media (max-width: 1200px) {
    gap: 12px;
    flex-direction: column;
  }

  @media (max-width: 991px) {
    &__checkboxes {
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &__section {
      padding: 0;
      background-color: transparent;
      flex-direction: column;
      gap: 12px;
    }
  }

  @media (max-width: 767px) {
    &__checkboxes {
      flex-direction: column;
      align-items: flex-start;

      &--gap-xl {
        gap: 10px 20px;
      }
    }
  }
}
