.gallery {
  &__list {
    margin-top: -32px;
    margin-left: -32px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    margin-top: 32px;
    margin-left: 32px;
    padding-top: min(23.9%, 280px);
    width: calc(33.33% - 32px);
    border-radius: 8px;
    overflow: hidden;
  }

  &__item-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1200px) {
    &__list {
      margin-top: -20px;
      margin-left: -20px;
    }

    &__item {
      margin-top: 20px;
      margin-left: 20px;
      width: calc(33.33% - 20px);
      padding-top: min(24.6%, 280px);
    }
  }

  @media (max-width: 640px) {
    &__list {
      margin-top: -12px;
    }

    &__item {
      margin-top: 12px;
      width: calc(100% - 20px);
      padding-top: min(54%, 280px);
    }
  }
}
