.gallery-slider {
  &--primary-100 {
    padding: 32px 0;
    background-color: var(--color-primary-100);
    border-radius: 8px;
  }

  &__box {
    position: relative;

    &--px-xl {
      padding: 0 40px;
    }
  }

  &__slide {
    height: auto;
  }

  &__item {
    position: relative;
    height: 100%;
    padding-top: min(100%, 360px);
    border-radius: 8px;
    overflow: hidden;

    &--h-sm {
      padding-top: min(78.2%, 280px);
    }

    &--h-xs {
      padding-top: min(78.2%, 260px);
    }
  }

  &__item-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__prev,
  &__next {
    position: absolute;
    z-index: 1;
    top: 50%;

    &.swiper-button-lock {
      display: none;
    }
  }

  &__prev {
    left: -32px;
    transform: translate(-100%, -50%);
  }

  &__next {
    right: -32px;
    transform: translate(100%, -50%);
  }

  &__pagination {
    margin-top: 32px;
    display: none;
  }

  @media (max-width: 1320px) {
    &__box {
      &--px-xl {
        padding-bottom: 0;
      }
    }

    &__prev,
    &__next {
      display: none;
    }

    &__pagination {
      display: flex;

      &.swiper-pagination-lock {
        display: none;
      }
    }
  }

  @media (max-width: 767px) {
    &--primary-100 {
      padding: 20px 0;
    }

    &__box {
      &--px-xl {
        padding: 0 20px;
      }
    }

    &__item {
      padding-top: min(107.3%, 440px);

      &--h-sm {
        padding-top: min(78.2%, 268px);
      }
    }
  }
}
