.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    max-height: 100%;
    object-fit: contain;

    &--rotate-180deg {
      transform: rotate(180deg);
    }

    &--rotate-90deg {
      transform: rotate(90deg);
    }

    &--default {
      width: 24px;
    }

    &--full {
      width: 100%;
    }
  }

  &--sm {
    width: 22px;
    height: 22px;
  }

  &--xs {
    width: 20px;
    height: 20px;
  }

  &--3xs {
    width: 16px;
    height: 16px;
  }
}
