.layouts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__tabs-btns {
    margin: 0 auto 32px;
  }

  &__tabs-list {
    width: 100%;
  }

  @media (max-width: 767px) {
    &__tabs-btns {
      margin-bottom: 20px;
      width: 100%;
    }
  }
}
