.layouts-slider {
  &__box {
    position: relative;
  }

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    z-index: 1;

    &.swiper-button-lock {
      display: none;
    }
  }

  &__prev {
    left: -20px;
    transform: translate(-100%, -50%);
  }

  &__next {
    right: -20px;
    transform: translate(100%, -50%);
  }

  &__pagination {
    margin-top: 20px;
    display: none;
  }

  @media (max-width: 1320px) {
    &__prev,
    &__next {
      display: none;
    }

    &__pagination {
      display: flex;
    }
  }
}
