.layout-card {
  position: relative;
  padding-top: min(71.9%, 400px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-primary-200);
  border-radius: 8px;

  &__img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    object-fit: contain;
  }

  @media (max-width: 767px) {
    padding-top: min(71.9%, 340px);
  }
}
