.main {
  padding: 107px 0 120px;
  flex: 1 1 auto;

  &__section {
    margin-top: 120px;

    &--mt-xs {
      margin-top: 80px;
    }
  }

  @media (max-width: 1200px) {
    padding: 192px 0 100px;

    &__section {
      margin-top: 100px;

      &--mt-xs {
        margin-top: 70px;
      }
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 80px;

    &__section {
      margin-top: 80px;

      &--mt-xs {
        margin-top: 60px;
      }
    }
  }
}
