.main {
  padding: 107px 0 120px;
  flex: 1 1 auto;

  &--pb-sm {
    padding-bottom: 100px;
  }

  &--pb-xs {
    padding-bottom: 90px;
  }

  &--pb-2xs {
    padding-bottom: 80px;
  }

  &__section {
    margin-top: 120px;

    &--mt-xs {
      margin-top: 80px;
    }
  }

  &__first-section {
    margin-top: 20px;
  }

  &__breadcrumb {
    margin-top: 12px;
    margin-bottom: 40px;
  }

  @media (max-width: 1200px) {
    padding: 192px 0 100px;

    &--pb-xs {
      padding-bottom: 90px;
    }

    &--pb-2xs {
      padding-bottom: 80px;
    }

    &__section {
      margin-top: 100px;

      &--mt-xs {
        margin-top: 70px;
      }

      &--gallery {
        margin-top: 60px;
      }
    }

    &__breadcrumb {
      margin-top: 0;
      margin-bottom: 32px;
    }
  }

  @media (max-width: 767px) {
    padding: 180px 0 80px;

    &__section {
      margin-top: 80px;

      &--mt-xs {
        margin-top: 60px;
      }

      &--layouts {
        margin-top: 60px;
      }

      &--include {
        margin-top: 44px;
      }

      &--gallery {
        margin-top: 20px;
      }
    }

    &__banner {
      margin-top: 12px;
    }
  }
}
