.nav-btn {
  padding: 19px 40px;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.28;
  border: 1px solid transparent;
  background-color: var(--color-primary-100);
  color: var(--color-primary);

  &--active,
  &.tabs-btns__btn--active {
    background-color: var(--color-primary);
    color: #fff;
    cursor: default;
  }

  &__icon {
    flex: 0 0 auto;

    &:first-child:not(:last-child) {
      margin-right: 8px;
    }

    &:last-child:not(:first-child) {
      margin-left: 8px;
    }

    &--mx-xl {
      &:first-child:not(:last-child) {
        margin-right: 12px;
      }

      &:last-child:not(:first-child) {
        margin-left: 12px;
      }
    }
  }
}
