.nav-btns {
  &__mobile-btn {
    display: none;
  }

  &__main {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__btn {
    flex: none;
  }

  @media (max-width: 767px) {
    position: relative;

    &__list {
      flex-direction: column;
      width: 100%;
    }

    &__btn {
      padding-top: 14px;
      padding-bottom: 14px;
      width: 100%;
    }

    &__mobile-btn {
      padding-top: 14px;
      padding-bottom: 14px;
      display: flex;
      justify-content: center;

      &--lg {
        padding-top: 19px;
        padding-bottom: 19px;
      }

      &.dropdown__btn--active {
        .nav-btn__icon {
          transform: rotate(180deg);
        }
      }
    }

    &__main {
      display: none;
    }

    &.dropdown--active &__main {
      margin-top: 12px;
      padding: 12px;
      background-color: var(--color-white);
      position: absolute;
      left: 0;
      z-index: 5;
      top: 100%;
      width: 100%;
      display: flex;
      border-radius: 4px;
      box-shadow: 3px 3px 12.6px rgba(14, 81, 55, 0.25);
    }
  }
}
