.object-slider {
  &__box {
    position: relative;
    padding-top: min(97.5%, 540px);
    min-height: 100%;
  }

  &__main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  &__slide {
    width: 100%;
    height: auto;
  }

  &__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &.swiper-button-lock {
      display: none;
    }
  }

  &__prev {
    left: -24px;
  }

  &__next {
    right: -24px;
  }

  &__pagination {
    margin-top: 32px;
    display: none;
  }

  @media (max-width: 1200px) {
    &__prev {
      left: -20px;
    }

    &__next {
      right: -20px;
    }
  }

  @media (max-width: 991px) {
    &__prev,
    &__next {
      display: none;
    }

    &__pagination {
      display: flex;
    }
  }

  @media (max-width: 767px) {
    &__box {
      padding-top: 368px;
    }
  }
}
