.partner-card {
  &__img-box {
    position: relative;
    margin-bottom: 20px;
    padding-top: 200px;
    width: 100%;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--color-primary-200);
    border-radius: 8px;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    margin-top: 12px;
  }

  @media (max-width: 767px) {
    &__img-box {
      padding-top: 192px;
    }
  }
}
