.products {
  &__header {
    margin-bottom: 32px;
  }

  &__filters {
    margin-bottom: 60px;
  }

  &__list {
    margin-top: -32px;
    margin-left: -32px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 32px;
    margin-left: 32px;
    width: calc(33.33% - 32px);
  }

  &__footer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__footer-btn {
    margin-top: 20px;
  }

  &__footer-card {
    margin-top: 32px;
    display: none;
  }

  @media (max-width: 1200px) {
    &__filters {
      margin-bottom: 40px;
    }

    &__list {
      margin-top: -20px;
      margin-left: -20px;
    }

    &__item {
      margin-top: 20px;
      margin-left: 20px;
      width: calc(33.33% - 20px);
    }

    &__footer {
      margin-top: 40px;
    }
  }

  @media (max-width: 991px) {
    &__item {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 767px) {
    &__header {
      margin-bottom: 20px;
    }

    &__filters {
      margin-bottom: 32px;
    }

    &__item {
      width: calc(100% - 20px);

      &--discuss {
        display: none;
      }
    }

    &__footer {
      margin-top: 32px;
    }

    &__pagination {
      display: none;
    }

    &__footer-btn {
      margin-top: 0;
      padding-top: 18px;
      padding-bottom: 18px;
      width: 100%;
    }

    &__footer-card {
      display: flex;
      width: 100%;
    }
  }
}
