.products-slider {
  &__box {
    position: relative;
  }

  &__main {
    margin: -16px;
    padding: 16px;
  }

  &__slide {
    height: auto;
  }

  &__item {
    height: 100%;
  }

  &__prev,
  &__next {
    position: absolute;
    z-index: 1;
    top: 50%;

    &.swiper-button-lock {
      display: none;
    }
  }

  &__prev {
    left: -32px;
    transform: translate(-100%, -50%);
  }

  &__next {
    right: -32px;
    transform: translate(100%, -50%);
  }

  &__pagination {
    margin-top: 32px;
    display: none;
  }

  @media (min-width: 1201px) {
    &__main--mobile &__wrapper {
      margin-left: -32px;
      margin-top: -32px;
      flex-wrap: wrap;
      width: auto;
      transform: translate(0, 0) !important;
    }

    &__main--mobile &__slide {
      margin-left: 32px;
      margin-top: 32px;
      width: calc(33.33% - 32px);
    }
  }

  @media (max-width: 1320px) {
    &__main {
      margin: calc(var(--container-offset) * -1);
      padding: var(--container-offset);
    }

    &__prev,
    &__next {
      display: none;
    }

    &__pagination {
      display: flex;

      &.swiper-pagination-lock {
        display: none;
      }
    }
  }

  @media (max-width: 767px) {
    &__main {
      margin: calc(var(--container-offset-mobile) * -1);
      padding: var(--container-offset-mobile);
    }
  }
}
