.project-details {
  padding: 20px;
  border: 1px solid var(--color-primary-200);
  border-radius: 8px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  @media (max-width: 1200px) {
    &__value {
      font-size: 22px;
    }
  }

  @media (max-width: 767px) {
    padding: 12px;
  }
}
