.project-slider {
  &__box {
    position: relative;
    padding-top: 55.21%;
    min-height: 100%;
  }

  &__main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  &__slide {
    width: 100%;
    height: auto;
  }

  &__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__label {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1;
  }

  &__details {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    display: flex;
    gap: 20px;
  }

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &.swiper-button-lock {
      display: none;
    }
  }

  &__prev {
    left: -24px;
  }

  &__next {
    right: -24px;
  }

  &__pagination {
    margin-top: 20px;
    display: none;
  }

  @media (max-width: 991px) {
    &__label {
      bottom: 12px;
      left: 12px;
    }

    &__details {
      right: 12px;
      bottom: 12px;
    }

    &__prev,
    &__next {
      display: none;
    }

    &__pagination {
      display: flex;
    }
  }
}
