.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;

  &__body {
    position: relative;
    padding-top: min(72.2%, 400px);

    &--h-col-4 {
      padding-top: min(94.7%, 340px);
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 32px;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1200px) {
    &__body {
      &--h-col-4 {
        padding-top: min(72.2%, 400px);
      }
    }

    &__label {
      width: auto;
    }
  }

  @media (max-width: 767px) {
    &__content {
      padding: 12px;
    }
  }
}
