.projects {
  &__list {
    margin-left: -32px;
    margin-top: -32px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-left: 32px;
    margin-top: 32px;
    width: calc(50% - 32px);
  }

  &__footer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1200px) {
    &__list {
      margin-left: -20px;
      margin-top: -20px;
    }

    &__item {
      margin-left: 20px;
      margin-top: 20px;
      width: calc(50% - 20px);
    }

    &__footer {
      margin-top: 32px;
    }
  }

  @media (max-width: 767px) {
    &__item {
      width: calc(100% - 20px);
    }

    &__footer-btn {
      width: 100%;
    }
  }
}
