.project-price {
  position: relative;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color-primary-500);

  &__label {
    margin-bottom: 8px;
  }

  &__img {
    position: absolute;
    right: 20px;
    bottom: 0;
    opacity: 0.2;
  }

  @media (max-width: 767px) {
    padding: 12px;

    &__img {
      right: 14px;
    }
  }
}
