.reasons {
  padding: 20px 32px;
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: var(--color-primary-100);
  border-radius: 8px;

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    margin-top: -32px;
    margin-left: -32px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 32px;
    margin-left: 32px;
    width: calc(50% - 32px);
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }

  &__item-icon {
    flex: none;
  }

  &__item-text {
    max-width: 172px;
  }

  &__img-box {
    position: relative;
    padding-top: 31.6%;
    flex: 0 0 auto;
    width: 44.6%;
    border-radius: 11px;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1200px) {
    gap: 32px;

    &__img-box {
      padding-top: 28.4%;
      width: 40%;
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;

    &__info {
      max-width: 554px;
    }

    &__img-box {
      padding-top: 42.5%;
      width: 60%;
    }
  }

  @media (max-width: 767px) {
    padding: 20px;
    gap: 40px;

    &__title {
      margin-bottom: 32px;
      max-width: 240px;
      font-size: 26px;
    }

    &__list {
      margin-top: -20px;
    }

    &__item {
      margin-top: 20px;
      width: calc(100% - 32px);
    }

    &__img-box {
      padding-top: min(71%, 280px);
      width: 100%;
    }
  }
}
