.section {
  &__header {
    margin-bottom: 40px;

    &--mb-sm {
      margin-bottom: 32px;
    }
  }

  &__footer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--column {
      flex-direction: column;
    }
  }

  @media (max-width: 767px) {
    &__header {
      margin-bottom: 32px;

      &--mb-sm {
        margin-bottom: 20px;
      }

      &--mobile-mb-sm {
        margin-bottom: 20px;
      }

      &--mobile-mb-base {
        margin-bottom: 32px;
      }
    }

    &__footer {
      margin-top: 32px;
    }
  }
}
