.stages {
  display: flex;
  align-items: flex-start;
  gap: 32px;

  &__list {
    margin-top: -34px;
    margin-left: -34px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 34px;
    margin-left: 34px;
    width: calc(50% - 34px);
  }

  &__img-box {
    position: relative;
    padding-top: 29.75%;
    align-self: stretch;
    flex: 0 0 auto;
    width: 31.6%;
    border-radius: 8px;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;

    &__img-box {
      display: none;
    }
  }

  @media (max-width: 767px) {
    &__title {
      margin-bottom: 32px;
      max-width: 240px;
      font-size: 26px;
    }

    &__item {
      width: calc(100% - 34px);
    }

    &__img-box {
      padding-top: min(71%, 280px);
      width: 100%;
    }
  }
}
