.stage-item {
  &__header {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  &__icon {
    flex: none;
    border-radius: 8px;
  }

  &__title {
    max-width: 226px;
  }

  &__text {
    margin-top: 12px;
  }
}
