.swiper-pagination-bullets {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  &.swiper-pagination-horizontal {
    .swiper-pagination-bullet {
      margin: 0;
    }
  }

  .swiper-pagination-bullet {
    position: relative;
    margin: 0;
    width: 8px;
    height: 8px;
    background-color: var(--color-grey);
    opacity: 1;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      inset: -4px;
    }

    &-active {
      background-color: var(--color-primary);
    }
  }
}
