.text-content {
  font-size: 16px;
  line-height: 1.22;

  h1,
  h2,
  h3,
  h4 {
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
    font-weight: 500;
  }

  p,
  ul,
  li {
    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  ul {
    padding-left: 4px;

    li {
      display: flex;
      align-items: flex-start;

      &:before {
        content: "";
        margin-top: 8px;
        margin-right: 9px;
        flex: 0 0 auto;
        display: inline-block;
        width: 4px;
        height: 4px;
        background-color: var(--color-primary-500);
      }
    }
  }

  ol {
    counter-reset: item;

    li {
      counter-increment: item;

      &:before {
        content: counter(item) ". ";
      }
    }
  }

  a {
    color: var(--color-primary);
  }

  &--medium {
    font-weight: 500;
  }

  &--semibold {
    font-weight: 600;
  }

  &--sm {
    font-size: 14px;

    ul {
      li {
        &:before {
          margin-top: 6px;
          margin-right: 5px;
        }
      }
    }
  }

  &--my-sm {
    p,
    ul,
    li {
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  &--my-md {
    p,
    ul,
    li {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

  &--my-lg {
    p,
    ul,
    li {
      &:not(:first-child) {
        margin-top: 16px;
      }
    }
  }

  &__offset {
    margin-top: 12px;

    &--xl {
      margin-top: 20px;
    }
  }

  @media (max-width: 767px) {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 23px;
    }

    h3 {
      font-size: 22px;
    }

    ul {
      li {
        &:before {
          margin-right: 7px;
        }
      }
    }
  }
}
