.text-items {
  &__list {
    margin-left: -32px;
    margin-top: -32px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-left: 32px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(50% - 32px);
  }

  @media (max-width: 1200px) {
    &__list {
      margin-left: -20px;
    }

    &__item {
      margin-left: 20px;
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 991px) {
    &__item {
      width: calc(100% - 20px);
    }
  }

  @media (max-width: 767px) {
    &__item {
      width: calc(100% - 20px);
    }
  }
}
