.types {
  &__list {
    margin-top: -12px;
    margin-left: -32px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 12px;
    margin-left: 32px;
    width: calc(50% - 32px);
  }

  @media (max-width: 1200px) {
    &__list {
      margin-left: -20px;
    }

    &__item {
      margin-left: 20px;
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 767px) {
    &__list {
      margin-top: -10px;
      margin-left: -20px;
    }

    &__item {
      margin-top: 10px;
      margin-left: 20px;
      width: calc(100% - 20px);
    }
  }
}
