.ul-item {
  padding-left: 2px;
  display: flex;
  align-items: flex-start;

  &:before {
    content: "";
    margin-top: 8px;
    margin-right: 6px;
    flex: 0 0 auto;
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: var(--color-primary-500);
  }

  &--sm {
    &:before {
      margin-top: 6px;
    }
  }
}
