.video-section {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  padding-top: 56.14%;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  &--active {
    &:before {
      display: none;
    }
  }

  &__preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--active &__preview {
    display: none;
  }

  &__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80px;
    height: 80px;
  }

  &__player {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  @media (max-width: 991px) {
    &__play {
      width: 48px;
      height: 48px;
    }
  }

  @media (max-width: 767px) {
    padding-top: 58.25%;

    &__play {
      width: 33px;
      height: 33px;
    }
  }
}
