@use "mixins" as *;

@include font-face("Montserrat", "../fonts/Montserrat-Regular", 400);
@include font-face("Montserrat", "../fonts/Montserrat-Medium", 500);
@include font-face("Montserrat", "../fonts/Montserrat-SemiBold", 600);
