:root {
  --container-width:          1140px;
  --container-offset:         20px;
  --container-offset-mobile:  16px;

  --color-primary:            #439e47;
  --color-primary-100:        #f0f5f1;
  --color-primary-200:        #bcd1c6;
  --color-primary-300:        #5cd061;
  --color-primary-500:        #327955;
  --color-black:              #333;
  --color-white:              #fff;
  --color-grey:               #e0e3e1;
  --color-primary--rgb:       67, 158, 71;
  --color-primary-100--rgb:   240, 245, 241;
  --color-primary-200--rgb:   188, 209, 198;
  --color-primary-300--rgb:   92, 208, 97;
  --color-primary-500--rgb:   50, 121, 85;
  --color-black--rgb:         51, 51, 51;
  --color-white--rgb:         255, 255, 255;
  --color-grey--rgb:          224, 227, 225;
}
